@import '../theme/controls.scss';

.MVRadioButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MVRadioButton input {
    opacity: 0;
    width: 0px;
    box-sizing: border-box;
    margin: 0;
}

.MVRadioButton label {
    @extend .control;

    width: 3px;
    height: 3px;

    margin-right: 8px;
    padding: 5px;

    border: 3px solid $mvtext-base;
    border-radius: 10px;
}

.MVRadioButton :focus + label {
    outline: none;
    box-shadow: 0px 0px 3px 2px $mvgrey-lightest;
}

.MVRadioButton :checked + label {
    background-color: $mvorange-base;
}
